.dashboard-box-descr {
  min-height: 64px;
}

.profile-offer-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  float: left;
  margin-right: 4px;
}

.profile-offer-data {
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 32px;
}

.profile-offer-time {
  position: relative;
  margin-bottom: 14px;
}
